@charset "utf-8";

body {
    min-width: 1280px;
    background-color: #fbfbfb;
    overflow-x: hidden;
    background-color: #fbfbfb;
}

@media screen and (max-width: 767px) {
    body {
        min-width: initial;
    }
}
#header {
    background-color: #ffe2b5;
}

.works_title {
    padding-top: 98px;
    text-align: center;
    background-color: #ffe2b5;
    position: relative;
}
@media screen and (max-width: 767px) {
    .works_title {
        padding-top: 7px;
    }
}
.works_message::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/works_bg@2x.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top;
}
.works_title h2 {
    font-size: 46px;
    letter-spacing: 0.03em;
    font-weight: 400;
}
@media screen and (max-width: 767px) {
    .works_message::before {
        background-image: url(../images/sp_work_bg@2x.png);
    }
    .works_title {
        position: initial;
    }
    .works_title h2 {
        font-size: 18px;
        letter-spacing: 0em;
    }
}

.works_title_img {
    display: flex;
    justify-content: center;
}
.kai_img {
    width: 123px;
    padding-right: 100px;
    padding-top: 80px;
    animation: fluffy1 5s ease infinite;
}
.sui_img {
    width: 98px;
    padding-right: 77px;
    padding-top: 73px;
    animation: fluffy1 6s ease infinite;
}
.nagi_img {
    width: 120px;
    padding-top: 32px;
    animation: fluffy1 5s ease infinite;
}
@keyframes fluffy1 {
    0% {
        transform: translateY(0);
    }
    5% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-10px);
    }
    25% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}
@media screen and (max-width: 767px) {
    .kai_img {
        width: 14%;
        padding-right: 15%;
        padding-top: 2%;
    }
    .sui_img {
        width: 11%;
        padding-right: 13%;
        padding-top: 2%;
    }
    .nagi_img {
        width: 12%;
        padding-top: 2%;
    }
}
.works_message {
    text-align: center;
    padding-top: 98px;
    position: relative;
}
.works_lead {
    font-size: 22px;
}
.works_lead span {
    font-size: 46px;
    font-weight: bold;
    display: inline-block;
    font-family: "Zen Maru Gothic", sans-serif;
    color: transparent;
    -webkit-text-stroke: 1px #b20700;
}
@media screen and (max-width: 767px) {
    .works_message {
        padding-top: 43px;
    }
    .works_lead {
        font-size: 17px;
    }
    .works_lead span {
        font-size: 30px;
    }
}
.text1,
.text2 {
    font-size: 17px;
    line-height: 1.76;
}
.text1 {
    padding-top: 44px;
    padding-bottom: 33px;
}
.text2 {
    padding-bottom: 224px;
}
.br-sp {
    display: none;
}
@media screen and (max-width: 767px) {
    .text1,
    .text2 {
        font-size: 15px;
        line-height: 1.8;
    }
    .text1 {
        padding-top: 46px;
        padding-bottom: 22px;
    }
    .text2 {
        padding-bottom: 35px;
    }
    .br-sp {
        display: block;
    }
}
.kai_balloon {
    width: 151px;
    position: absolute;
    top: 5%;
    left: 8%;
}
.nagi_balloon {
    width: 253px;
    position: absolute;
    top: 10%;
    right: 8%;
}
.heart1 {
    position: absolute;
    top: 9%;
    right: 28%;
}
.heart2 {
    position: absolute;
    bottom: 30%;
    left: 28%;
}
@media screen and (max-width: 767px) {
    .heart1,
    .heart2 {
        display: none;
    }
    .balloon {
        display: flex;
        justify-content: center;
        align-items: baseline;
        padding-bottom: 11%;
    }
    .kai_balloon,
    .nagi_balloon {
        position: initial;
    }
    .kai_balloon {
        width: 15%;
        padding-right: 9%;
    }
    .nagi_balloon {
        width: 24%;
    }
}
#top {
    position: relative;
}
.tab {
    position: relative;
}
.tab-list {
    display: flex;
}
.tab-list_bottom {
    display: flex;
    position: relative;
}
.btn1 {
    font-size: 15px;
    padding-bottom: 7px;
    font-family: "Kosugi Maru", sans-serif;
}
.btn2 {
    font-size: 11px;
    font-family: "Montserrat Alternates", sans-serif;
}
.kai_banner_alert {
    display: none;
    position: absolute;
    top: 65px;
    left: 16px;
}
.tab-list-item4:hover .kai_banner_alert {
    display: flex;
    text-align: start;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 16px;
    transform: translateY(65px);
    overflow: initial;
    transition: 2s;
}
.kai_menu_img {
    width: 107px;
}
.banner_alert_b {
    text-align: center;
}
.bottom_text {
    font-size: 14px;
    line-height: 1.5;
}
.nagi_web_alert {
    display: none;
    position: absolute;
    top: 65px;
    left: 30px;
}
.tab-list-item5:hover .nagi_web_alert {
    display: flex;
    text-align: start;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 250px;
    transform: translateY(65px);
    overflow: initial;
    transition: 2s;
}
.nagi_menu_img {
    width: 99px;
}
.web_alert_b {
    text-align: right;
}
.sui_graphic_alert {
    display: none;
    position: absolute;
    z-index: 1;
}
.tab-list-item6:hover .sui_graphic_alert {
    display: flex;
    text-align: start;
    align-items: center;
    position: absolute;
    top: -60px;
    right: 3%;
    overflow: initial;
    transition: 2s;
    z-index: 0;
}
.sui_menu_img {
    width: 97px;
}
.graphic_alert_b {
    text-align: center;
    padding-bottom: 18px;
    padding-right: 10px;
}
@media screen and (max-width: 767px) {
    .btn1 {
        font-size: 13px;
        padding-bottom: 2px;
    }
    .btn2 {
        font-size: 10px;
    }
}

.tab-list-item1 {
    width: 200px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    border: 1px solid #ede0b9;
    background-color: #ede0b9;
    border-top-right-radius: 12px;
    margin-right: 36px;
    cursor: pointer;
}
.tab-list-item2 {
    width: 200px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    border: 1px solid #ebd180;
    background-color: #ebd180;
    border-top-right-radius: 12px;
    margin-right: 74px;
    cursor: pointer;
}
.tab-list-item3 {
    width: 300px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    border: 1px solid #ffe2b5;
    background-color: #ffe2b5;
    border-top-right-radius: 12px;
    cursor: pointer;
}
.tab-list-item4 {
    width: 200px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    border: 1px solid #ede0b9;
    background-color: #ede0b9;
    border-bottom-right-radius: 12px;
    margin-right: 36px;
    cursor: pointer;
}
.tab-list-item5 {
    width: 200px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    border: 1px solid #ebd180;
    background-color: #ebd180;
    border-bottom-right-radius: 12px;
    margin-right: 74px;
    cursor: pointer;
}
.tab-list-item6 {
    width: 300px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    border: 1px solid #ffe2b5;
    background-color: #ffe2b5;
    border-bottom-right-radius: 12px;
    cursor: pointer;
    z-index: 1;
}
@media screen and (max-width: 767px) {
    .tab-list-item1,
    .tab-list-item2,
    .tab-list-item3,
    .tab-list-item4,
    .tab-list-item5,
    .tab-list-item6 {
        width: 30%;
        margin-right: 3%;
        padding-bottom: 6px;
    }
}
.tab-contents {
    display: none;
}
.is-btn-active {
    font-weight: bold;
}
.is-contents-active {
    display: block;
}
.tab_list_top {
    display: flex;
    position: absolute;
    top: -18px;
    right: 3%;
}
.sui_watch {
    width: 95px;
}
.alert {
    padding-left: 4px;
    padding-top: 27px;
}
.tab_list_top p {
    padding-top: 39px;
    font-size: 14px;
}
@media screen and (max-width: 767px) {
    .tab_list_top {
        top: 162%;
        right: auto;
        left: 0;
        width: 100%;
        justify-content: center;
    }
    .sui_watch {
        width: 12%;
        padding-top: 10px;
    }
    .alert {
        width: 3%;
    }
    .tab_list_top p {
        font-size: 13px;
        text-align: center;
        line-height: 1.76;
    }
}
.tab-bottom1 {
    background-color: #ede0b9;
    height: 79px;
}
.tab-bottom2 {
    background-color: #ede0b9;
    height: 79px;
    margin-top: 144px;
}
.tab-bottom3 {
    background-color: #ebd180;
    height: 79px;
}
.tab-bottom4 {
    background-color: #ebd180;
    height: 79px;
    margin-top: 144px;
}
.tab-bottom5 {
    background-color: #ffe2b5;
    height: 79px;
}
.tab-bottom6 {
    background-color: #ffe2b5;
    height: 79px;
    margin-top: 144px;
}
@media screen and (max-width: 767px) {
    .tab-bottom1,
    .tab-bottom2,
    .tab-bottom3,
    .tab-bottom4,
    .tab-bottom5,
    .tab-bottom6 {
        height: 23px;
    }
    .tab-bottom2,
    .tab-bottom4,
    .tab-bottom6 {
        margin-top: 103px;
    }
}
.works_title_head {
    text-align: center;
    padding-top: 132px;
}
.works_title_head h3 {
    font-size: 38px;
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: 500;
}
.works_title_head p {
    padding-top: 23px;
    font-size: 15px;
    padding-bottom: 200px;
}
@media screen and (max-width: 767px) {
    .works_title_head {
        padding-top: 169px;
    }
    .works_title_head h3 {
        font-size: 29px;
    }
    .works_title_head p {
        font-size: 14px;
        line-height: 1.78;
        padding-top: 19px;
        padding-bottom: 85px;
    }
}
.work_contens {
    display: flex;
    justify-content: center;
}
.work_img {
    width: 550px;
    padding-right: 43px;
    position: relative;
}
.fade-in_img {
    position: absolute;
    width: 550px;
    opacity: 0;
    animation: change-img-anim 20s infinite;
}
.fade-in_img:nth-of-type(1) {
    animation: change-img-anim-first 20s infinite;
    animation-delay: 0s;
}
.fade-in_img:nth-of-type(2) {
    animation-delay: 10s;
}
@keyframes change-img-anim-first {
    0% {
        opacity: 1;
    }
    30% {
        opacity: 1;
    }
    36% {
        opacity: 1;
    }
    45% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes change-img-anim {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    36% {
        opacity: 1;
    }
    45% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
.lightbox_btn {
    position: absolute;
    top: 68%;
    right: 68px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 88px;
    height: 88px;
    border-radius: 50%;
    background-color: #008473;
}
.lightbox_btn p {
    font-size: 12px;
    padding-top: 4px;
    color: #fff;
}
@media screen and (max-width: 767px) {
    .lightbox_btn {
        display: none;
    }
}
.work_detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 550px;
}
@media screen and (max-width: 767px) {
    .work_contens {
        display: block;
    }
    .work_img {
        width: 80%;
        text-align: center;
        margin: 0 auto;
        padding-right: 0px;
    }
    .fade-in_img {
        display: block;
        text-align: center;
        margin: 0 auto;
        padding-right: 0px;
    }
    .work_detail {
        min-height: 0px;
    }
    .sp {
        padding-top: 318px;
    }
}
.work_heading1_r {
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: bold;
    font-size: 34px;
    color: #b20700;
}
.work_heading2_r {
    padding-top: 15px;
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 17px;
    color: #b20700;
}

.work_heading1_y {
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: bold;
    font-size: 34px;
    color: #e2b725;
}
.work_heading2_y {
    padding-top: 15px;
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 17px;
    color: #e2b725;
}
.work_heading1_g {
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: bold;
    font-size: 34px;
    color: #008473;
}
.work_heading2_g {
    padding-top: 15px;
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 17px;
    color: #008473;
}

@media screen and (max-width: 767px) {
    .work_heading1_r,
    .work_heading1_y,
    .work_heading1_g {
        padding-top: 24px;
        font-size: 28px;
    }
    .work_heading2_r,
    .work_heading2_y,
    .work_heading2_g {
        padding-top: 10px;
    }
}
.work_text1 {
    padding-top: 53px;
    width: 545px;
    display: inline-block;
    text-align: start;
    font-size: 16px;
    line-height: 1.75;
}
.work_chart {
    width: 592px;
    background-color: #ffffff;
    border: 1px dashed #e2b725;
    border-radius: 12px;
    margin: 54px auto;
    padding-top: 31px;
    padding-left: 67px;
    text-align: start;
}
.work_chart2 {
    width: 592px;
    background-color: #ffffff;
    border: 1px dashed #b20700;
    border-radius: 12px;
    margin: 54px auto;
    padding-top: 31px;
    padding-left: 67px;
    text-align: start;
}
.work_chart3 {
    width: 592px;
    background-color: #ffffff;
    border: 1px dashed #008473;
    border-radius: 12px;
    margin: 54px auto;
    padding-top: 31px;
    padding-left: 67px;
    text-align: start;
}
.chart_head,
.chart_content {
    padding-bottom: 35px;
    font-size: 16px;
    line-height: 1.56;
}
.chart_head {
    color: #e2b725;
}
.chart_head2 {
    color: #b20700;
    padding-bottom: 35px;
}
.chart_head3 {
    color: #008473;
    padding-bottom: 35px;
}
.chart_content {
    padding-left: 81px;
}
@media screen and (max-width: 767px) {
    .work_text1 {
        font-size: 14px;
    }
    .work_text1 {
        padding-top: 13px;
        width: 80%;
        font-size: 14px;
        line-height: 1.78;
    }
    .work_chart,
    .work_chart2,
    .work_chart3 {
        width: 80%;
        padding-top: 10%;
        padding-left: 5%;
        margin: 23px auto;
    }
    .chart_content {
        padding-left: 21px;
    }
    .span-sp {
        display: none;
    }
    .text-sp {
        font-size: 12px;
    }
}
.work_message {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}
.work_message_title {
    padding-top: 26px;
    padding-left: 32px;
    font-size: 16px;
}
.work_message_title span {
    font-family: "Zen Maru Gothic", sans-serif;
    color: #ffffff;
    font-size: 17px;
    font-weight: bold;
}
.work_title_heart {
    position: absolute;
    top: 6%;
    left: 3%;
    z-index: -1;
}
.work_text2 {
    margin: 0 auto;
    width: 82%;
    padding-top: 26px;
}
.work_text2 p {
    font-size: 15px;
    line-height: 1.93;
}
@media screen and (max-width: 767px) {
    .work_message_title {
        text-align: center;
        padding-top: 27px;
        padding-left: 0px;
        font-size: 14px;
    }
    .work_message_title span {
        font-size: 15px;
        margin-right: 10px;
    }
    .work_title_heart {
        width: 10%;
        top: 19px;
        left: 115px;
    }
    .work_text2 {
        width: 80%;
        padding-top: 24px;
    }
    .work_text2 p {
        font-size: 14px;
        line-height: 1.64;
    }
}
.detail_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 160px;
    height: 40px;
    border: 1px solid #b20700;
    background-color: #b20700;
    border-radius: 100vh;
    text-align: end;
    margin-bottom: 96px;
    position: relative;
}
.detail_btn:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 30px;
    border-radius: 100vh;
    border: 1px dashed #fff;
}
.detail_btn p {
    display: inline-block;
    color: #fff;
    font-size: 12px;
    margin-left: 5px;
}
.detail_icon {
    display: flex;
}
@media screen and (max-width: 767px) {
    .detail_btn {
        margin: 34px auto 76px auto;
    }
}
.contact_icon {
    position: absolute;
    top: 0;
    right: 12%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
}
.contact_pic {
    width: 224px;
    display: inline-block;
    margin-top: 61px;
    padding-bottom: 12px;
    z-index: 1;
}
.contact_icon p {
    font-size: 12px;
    z-index: 1;
}
.contact_btn {
    position: absolute;
    top: 26px;
    right: 48%;
    animation: dokidoki 3s ease-in-out 0s infinite alternate;
}
@media screen and (max-width: 767px) {
    .contact_icon {
        right: 23%;
        top: -3%;
        z-index: 1;
    }
    .contact_pic {
        width: 189px;
    }
    .contact_icon p {
        font-size: 13px;
    }
    .contact_btn {
        right: 39%;
    }
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url(../images/footer_back.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
    overflow-y: hidden;
    z-index: 0;
    height: 43vw;
    min-height: 565px;
}
.pc_nav_footer {
    display: flex;
    justify-content: center;
}
.logo_footer {
    display: none;
}
.pc_nav_footer ul {
    display: flex;
}
.pc_nav_footer ul li {
    color: #550700;
    font-size: 13px;
    padding-right: 70px;
    text-align: center;
}

.footer_contact {
    color: #b20700;
}
.copyright p {
    margin: 0 auto;
    text-align: center;
    color: #550700;
    font-size: 12px;
    font-family: "Montserrat Alternates", sans-serif;
    padding-top: 87px;
    padding-bottom: 21px;
}
@media screen and (max-width: 767px) {
    footer {
        background-image: url(../images/sp_footer_bg@2x.png);
        padding-top: 112px;
        min-height: auto;
    }
    .logo_footer {
        display: block;
        width: 102px;
    }
    .footer_wrap {
        padding: 0 34% 0 3%;
    }
    .pc_nav_footer ul {
        display: none;
    }
    .copyright p {
        font-size: 7px;
        padding-top: 0px;
        padding-bottom: 6px;
    }
}
