@charset "utf-8";
body {
    font-family: "Kosugi+Maru", sans-serif;
    min-width: 1280px;
    overflow-x: hidden;
    background-color: #fff6e5;
}
.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 14px 21% 0 13%;
    box-sizing: border-box;
}
@media screen and (max-width: 767px) {
    .header_wrap {
        padding: 0;
    }
}
.logo {
    width: 135px;
}
@media screen and (max-width: 767px) {
    .logo {
        width: 102px;
    }
}
.pc_nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0 73px;
}
.pc_nav {
    text-align: center;
    border-radius: 30px;
    width: 500px;
    height: 60px;
    background-color: #ffffff;
    font-family: ”tbudrgothic-std”, sans-serif;
    display: inline-block;
}
.pc_nav ul li {
    color: #550700;
    font-size: 13px;
    padding: 24px 0;
    text-align: center;
}

.header_contact {
    text-align: center;
    display: inline-block;
}
.header_contact .letter {
    margin: 19px 0;
}
.contact_title h2 {
    display: flex;
}
.contact_title h2 {
    padding-top: 177px;
    font-size: 18px;
}
.contact_title span {
    display: inline-block;
    color: #b20700;
    font-size: 32px;
    transform: rotate(-330deg);
    margin-top: -10px;
    margin-right: 5px;
}
.contact_title h2:before {
    border-top: 1px solid #191919;
    content: "";
    width: 250px;
    margin-right: 85px;
}
.contact_message {
    padding-top: 62px;
    text-align: center;
}
.contact_text {
    display: inline-block;
    text-align: left;
}
.contact_text p {
    font-size: 15px;
    line-height: 1.8;
}
.contact_text span {
    font-family: "Zen Maru Gothic", sans-serif;
    font-size: 17px;
    color: #b20700;
}
.form {
    margin-top: 44px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -378px;
    max-width: 720px;
    z-index: 1;
}
.form_item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 70px;
    padding-bottom: 70px;
}
.form-item-label {
    font-size: 16px;
}
.form-item-label-required {
    display: inline-block;
    font-size: 12px;
    margin-left: 14px;
    padding: 5px 8px;
    border: 1px dashed #b20700;
    border-radius: 11px;
    width: 45px;
    text-align: center;
}
.form-item-input {
    max-width: 410px;
    border: 1px solid #e0e0e0;
    background-color: #f8f8f8;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    padding: 20px;
}
.form-item-textarea {
    max-width: 410px;
    border: 1px solid #e0e0e0;
    background-color: #f8f8f8;
    border-radius: 5px;
    width: 100%;
    height: 193px;
    font-size: 16px;
    padding: 20px;
}
.form-btn {
    text-align: center;
    display: block;
    margin-left: auto;
    width: 170px;
    height: 40px;
    border: 1px solid #b20700;
    background-color: #b20700;
    border-radius: 100vh;
    margin-bottom: 96px;
    position: relative;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.form-btn::after {
    display: inline-block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 160px;
    height: 30px;
    border-radius: 100vh;
    border: 1px dashed #fff;
}
.btn {
    position: relative;
    z-index: 1;
}
.sui_push {
    width: 104px;
    position: absolute;
    top: 83%;
    right: -10%;
    z-index: 1;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 565px;
    height: 43vw;
    background-image: url(../images/footer_back_1@2x.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
    overflow-y: hidden;
    margin-top: -150px;
    z-index: -1;
}
.pc_nav_footer {
    display: flex;
    justify-content: center;
}
.pc_nav_footer ul {
    display: flex;
}
.pc_nav_footer ul li {
    color: #550700;
    font-size: 13px;
    padding-right: 70px;
    text-align: center;
    z-index: 1;
}

.footer_contact {
    color: #b20700;
}
.copyright p {
    margin: 0 auto;
    text-align: center;
    color: #550700;
    font-size: 12px;
    font-family: "Montserrat Alternates", sans-serif;
    padding-top: 87px;
    padding-bottom: 21px;
}
