@charset "utf-8";
body {
    min-width: 1280px;
    overflow-x: hidden;
    background-color: #ffe2b5;
}
@media screen and (max-width: 767px) {
    body {
        min-width: initial;
    }
}
.thanks_message {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
.top_img {
    position: absolute;
    top: -2%;
    left: 2%;
}
.thanks_text {
    display: inline-block;
    text-align: left;
    padding-top: 174px;
}
.text1 {
    font-size: 17px;
}
.text2 {
    padding-top: 35px;
    font-size: 15px;
    line-height: 1.93;
}
.all_thanks {
    width: 348px;
    position: absolute;
    top: 60%;
    right: 3%;
    z-index: 1;
}
@media screen and (max-width: 767px) {
    .thanks_message {
        display: block;
    }
    .thanks_message,
    .top_img,
    .all_thanks {
        position: static;
    }
    .top_img {
        width: 93%;
        margin-top: -14px;
    }
    .thanks_text {
        padding-top: 65px;
    }
    .text1,
    .text2 {
        font-size: 15px;
    }
    .all_thanks {
        width: 37%;
        margin: -92px auto 0 auto;
    }
}
.top_link {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
.kainagi_back {
    width: 150px;
    margin: 0 auto;
    padding-top: 122px;
    z-index: 1;
}
.back_message {
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 36%;
}
@media screen and (max-width: 767px) {
    .top_link,
    .back_message {
        position: static;
    }
    .top_link {
        display: block;
    }
    .kainagi_back {
        width: 24%;
        margin: 31px 17% 0px auto;
        padding-top: 0px;
    }
    .back_message {
        text-align: end;
        margin: 4px 11% 0px auto;
    }
}
footer {
    background-image: url(../images/footer_back_1@2x.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
    overflow-y: hidden;
    margin-top: -150px;
    z-index: 0;
}
.logo_footer {
    display: none;
}
.footer_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 19px 27% 0 33%;
    box-sizing: border-box;
    padding-top: 356px;
}
.pc_nav_footer ul {
    display: flex;
}
.pc_nav_footer ul li {
    color: #550700;
    font-size: 13px;
    padding-right: 70px;
    text-align: center;
}

.footer_contact {
    color: #b20700;
}
.copyright p {
    margin: 0 auto;
    text-align: center;
    color: #550700;
    font-size: 12px;
    font-family: "Montserrat Alternates", sans-serif;
    padding-top: 87px;
    padding-bottom: 21px;
}
@media screen and (max-width: 767px) {
    footer {
        background-image: url(../images/sp_footer_bg@2x.png);
        padding-top: 112px;
        min-height: auto;
        z-index: -1;
    }
    .logo_footer {
        display: block;
        width: 102px;
    }
    .footer_wrap {
        padding: 0 34% 0 3%;
    }
    .pc_nav_footer ul {
        display: none;
    }
    .copyright p {
        font-size: 7px;
        padding-top: 0px;
        padding-bottom: 6px;
    }
}
