@charset "utf-8";

body {
    min-width: 1280px;
    overflow-x: hidden;
    background-color: #fff6e5;
}
@media screen and (max-width: 767px) {
    body {
        min-width: initial;
    }
}

.me_title {
    display: flex;
    align-items: center;
    padding-top: 76px;
    position: relative;
}
.yes {
    display: flex;
    align-items: center;
    justify-content: center;
}
.yes:before {
    border-top: 1px solid #191919;
    content: "";
    width: 428px;
    margin-right: 47px;
}
.yes p {
    transform: rotate(-30deg);
    font-size: 18px;
    letter-spacing: 0.12em;
    margin-bottom: 27px;
}
.about_heart {
    position: absolute;
    top: 30%;
    left: 32%;
}
.me_pic {
    width: 77px;
    margin-bottom: 58px;
    padding-right: 18px;
}
.me_top {
    font-size: 21px;
    letter-spacing: 0.12em;
}
.me_top span {
    font-size: 33px;
    color: #b20700;
}
@media screen and (max-width: 767px) {
    .me_title {
        padding-top: 43px;
        justify-content: center;
    }
    .yes:before {
        display: none;
    }
    .yes p {
        font-size: 9px;
    }
    .about_heart {
        width: 21px;
        left: 10%;
    }
    .me_pic {
        width: 56px;
        margin-bottom: 51px;
        padding-right: 11px;
    }
    .me_top {
        font-size: 19px;
    }
    .me_top span {
        font-size: 29px;
    }
}
.about_pic {
    width: 900px;
    margin: 0 auto;
}
@media screen and (max-width: 767px) {
    .about_pic {
        width: 100%;
    }
}
.about_name {
    display: flex;
    justify-content: center;
    padding-top: 155px;
    margin-top: -120px;
    background-color: #b20700;
    padding-bottom: 66px;
}
.name_space {
    content: "";
    width: 55px;
    height: 1px;
    transform: rotate(-220deg);
    background-color: #ffffff;
    border-radius: 2px;
    margin-top: 26px;
}
.name {
    text-align: center;
    padding-right: 66px;
}
.name1 {
    font-size: 25px;
    letter-spacing: 0.12em;
    color: #ffffff;
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: bold;
}
.name2 {
    font-size: 18px;
    letter-spacing: 0.12em;
    color: #ffffff;
    font-family: "Montserrat Alternates", sans-serif;
    padding-top: 10px;
}
.designer {
    padding-left: 66px;
}
.designer p {
    font-size: 17px;
    letter-spacing: 0.07em;
    font-family: "Montserrat Alternates", sans-serif;
    color: #ffffff;
}
.web {
    padding-bottom: 22px;
}
.about_red_back img {
    vertical-align: bottom;
}
@media screen and (max-width: 767px) {
    .about_name {
        padding-bottom: 23px;
    }
    .name_space {
        width: 41px;
        margin-top: 16px;
    }
    .name {
        padding-right: 5px;
    }
    .name1 {
        font-size: 19px;
    }
    .name2 {
        font-size: 10px;
    }
    .designer {
        padding-left: 5px;
    }
    .designer p {
        font-size: 14px;
    }
    .web {
        padding-bottom: 5px;
    }
}
.sp_kamereon_text {
    display: none;
}
.kamereon_text p {
    font-size: 23px;
    padding-top: 88px;
    padding-bottom: 48px;
}
.kamereon_text,
.kamereon_hover {
    text-align: center;
}
.kamereon_text p .span1 {
    font-size: 15px;
    transform: rotate(-30deg);
    display: inline-block;
    vertical-align: 103%;
    padding-left: 20px;
    margin-right: -10px;
}
.kamereon_text p .span2 {
    font-family: "Montserrat Alternates", sans-serif;
}
.kamereon_hover {
    font-size: 12px;
}
.kamereon_image {
    width: 1000px;
    margin-top: -171px;
}
.sp_br {
    display: none;
}
@media screen and (max-width: 767px) {
    .kamereon_text {
        display: none;
    }
    .sp_kamereon_text {
        display: block;
        font-size: 14px;
        text-align: center;
        position: relative;
    }
    .sp_kamereon_text .sp_1 {
        padding-top: 25px;
    }
    .sp_kamereon_text .sp_2 {
        padding-top: 29px;
    }
    .sp_kamereon_text .sp_2_alert {
        font-size: 12px;
        transform: rotate(-30deg);
        position: absolute;
        top: 70%;
        left: 23%;
    }
    .kamereon_image {
        width: 300px;
        margin-top: -51px;
    }

    .kamereon_hover {
        font-size: 10px;
        padding-top: 26px;
    }
    .sp_br {
        display: block;
    }
}
.sp_bg1 {
    display: none;
}
.me_container {
    border: 1px solid #fff;
    background-color: #fff;
    width: 1044px;
    margin-left: auto;
    position: relative;
    margin-bottom: 67px;
}
.kai_monster {
    position: absolute;
    top: 0;
    right: 0;
    width: 299px;
}
.nagi_monster {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 299px;
}
.me_container h3 {
    padding-top: 41px;
    padding-left: 49px;
    font-family: "Zen Maru Gothic", sans-serif;
    font-size: 23px;
    font-weight: 500;
}
.me_detail p {
    padding-left: 162px;
    font-size: 14px;
    padding-top: 26px;
    line-height: 1.78;
}
.me_text4 span {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: bold;
}
.me_text4 {
    padding-bottom: 50px;
}
.me_top_alert {
    position: absolute;
    top: 24px;
    left: 24px;
}

.sp_bg2 {
    display: none;
}
@media screen and (max-width: 767px) {
    .sp_bg1 {
        display: block;
        padding-top: 160px;
        z-index: 1;
    }
    .me_container {
        margin: 0 auto;
        width: 100%;
        margin-bottom: 0px;
    }
    .monsters {
        display: flex;
        justify-content: space-between;
    }
    .me_detail p {
        padding-left: 26px;
        padding-top: 30px;
    }
    .me_container h3 {
        padding-top: 46px;
        font-size: 17px;
        padding-left: 26px;
    }
    .kai_monster {
        transform: rotate(90deg);
        width: 184px;
        z-index: -1;
        top: -26%;
        order: 2;
    }
    .nagi_monster {
        transform: rotate(90deg);
        width: 175px;
        z-index: -1;
        bottom: 103%;
        left: 0;
        order: 1;
    }
    .br_sp {
        display: block;
    }
    .me_top_alert {
        width: 13px;
        top: 29px;
        left: 12px;
    }
    .me_text4 {
        padding-bottom: 44px;
    }
    .sp_bg2 {
        display: block;
        z-index: 1;
    }
}
.sp_bg3 {
    display: none;
}
.dream_container {
    border: 1px solid #fff;
    background-color: #fff;
    width: 942px;
    position: relative;
}
.sui_white {
    position: absolute;
    bottom: 28px;
    left: 0;
    width: 400px;
}

.dream_container h3 {
    padding-top: 41px;
    padding-left: 217px;
    font-family: "Zen Maru Gothic", sans-serif;
    font-size: 23px;
    font-weight: 500;
}
.dream_detail p {
    padding-left: 479px;
    font-size: 14px;
    padding-top: 26px;
    line-height: 1.78;
}
.dream_text3 {
    padding-bottom: 62px;
}
.dream_text3 span {
    color: #b20700;
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: bold;
}
.dream_top_alert {
    position: absolute;
    top: 22px;
    left: 190px;
}
.sp_bg4 {
    display: none;
}
@media screen and (max-width: 767px) {
    .sp_bg3 {
        display: block;
        padding-top: 185px;
    }
    .dream_container {
        margin: 0 auto;
        width: 100%;
    }
    .sui_white {
        width: 264px;
        top: -42%;
        left: 14%;
        z-index: -1;
    }
    .dream_container h3 {
        padding-top: 46px;
        font-size: 17px;
        padding-left: 26px;
    }
    .dream_detail p {
        padding-left: 26px;
        padding-top: 30px;
    }
    .dream_top_alert {
        width: 13px;
        top: 29px;
        left: 12px;
    }
    .sp_bg4 {
        display: block;
        position: absolute;
        z-index: -1;
    }
}
.contact_icon {
    position: absolute;
    top: 0;
    right: 12%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    z-index: 1;
}
.contact_pic {
    width: 224px;
    display: inline-block;
    margin-top: 61px;
    padding-bottom: 12px;
    z-index: 1;
}
.contact_icon p {
    font-size: 12px;
    z-index: 1;
}
.contact_btn {
    position: absolute;
    top: 26px;
    right: 48%;
    animation: dokidoki 3s ease-in-out 0s infinite alternate;
}
@media screen and (max-width: 767px) {
    .contact_icon {
        right: 23%;
        top: -3%;
        z-index: 1;
    }
    .contact_pic {
        width: 189px;
    }
    .contact_icon p {
        font-size: 13px;
    }
    .contact_btn {
        right: 39%;
    }
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url(../images/footer_back.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
    overflow-y: hidden;
    z-index: 0;
    height: 43vw;
    min-height: 565px;
}
.logo_footer {
    display: none;
}
.pc_nav_footer {
    display: flex;
    justify-content: center;
}
.pc_nav_footer ul {
    display: flex;
}
.pc_nav_footer ul li {
    color: #550700;
    font-size: 13px;
    padding-right: 70px;
    text-align: center;
}
.footer_contact {
    color: #b20700;
}
.copyright p {
    margin: 0 auto;
    text-align: center;
    color: #550700;
    font-size: 12px;
    font-family: "Montserrat Alternates", sans-serif;
    padding-top: 87px;
    padding-bottom: 21px;
}
@media screen and (max-width: 767px) {
    footer {
        background-image: url(../images/sp_footer_bg@2x.png);
        padding-top: 112px;
        min-height: auto;
    }
    .logo_footer {
        display: block;
        width: 102px;
    }
    .footer_wrap {
        padding: 0 34% 0 3%;
    }
    .pc_nav_footer ul {
        display: none;
    }
    .copyright p {
        font-size: 7px;
        padding-top: 0px;
        padding-bottom: 6px;
    }
}
